:root {
	--background-header: #efd81a;
	--ligth-white: #f5f5f5;
	--white: #fff;
	--black: #000;
	--granate: #34252f;
	--shadow-color: 0deg 0% 58%;

	--shadow-elevation-high: -0.3px -0.2px 0.4px hsl(var(--shadow-color) / 0.27),
		-1.4px -0.8px 1.8px -0.4px hsl(var(--shadow-color) / 0.26),
		-2.5px -1.4px 3.1px -0.8px hsl(var(--shadow-color) / 0.26),
		-4.2px -2.3px 5.2px -1.2px hsl(var(--shadow-color) / 0.25),
		-6.8px -3.7px 8.4px -1.6px hsl(var(--shadow-color) / 0.25),
		-10.7px -5.9px 13.3px -2px hsl(var(--shadow-color) / 0.24),
		-16.4px -9px 20.3px -2.4px hsl(var(--shadow-color) / 0.23),
		-24.3px -13.3px 30.1px -2.7px hsl(var(--shadow-color) / 0.23);
}

/* Light Mode */

#light {
	background-color: #fff;
	color: #000;
}

/* Dark Mode */

#dark {
	background-color: #000;
	color: #fff;
}

/* .bi-brightness-high-fill {
	font-size: 2rem;
	cursor: pointer;
} */

/* .bi-brightness-high-fill:hover {
	color: var(--ligth-white);
} */

body {
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
}

.container {
	background-color: #f0f0f0;
	height: 100vh;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 2fr 0.2fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'header'
		'game-area'
		'footer';
}

.header {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'language-mode game-title dark-mode';
	grid-area: header;
}

#light .header {
	background-color: var(--background-header);
}

.game-title {
	grid-area: game-title;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-game-background);
}

.dark-mode {
	grid-area: dark-mode;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* #dark-mode-button {
	background-color: transparent;
	border: none;
} */

.language-mode {
	grid-area: language-mode;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'made-love';
	grid-area: footer;
	text-align: center;
	align-self: end;
}

.bi-code-slash,
.bi-code {
	font-size: 1.5rem;
	padding: 0.5rem;
	color: white;
}

h5 {
	font-size: 1rem;
	color: white;
}

.made-love {
	grid-area: made-love;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.game-area {
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.3fr 0.3fr 2fr 0.2fr 0.3fr 0.2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'player-name player-name player-name'
		'player-points counter lives'
		'card-play card-play card-play'
		'messages messages messages'
		'buttons buttons buttons'
		'start-control start-control start-control';
	grid-area: game-area;
}

.player-name {
	background-color: #21325e;
	font-size: 1.3rem;
	font-style: italic;
	grid-area: player-name;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-name-text {
	color: white;
}

.player-points {
	background-color: #f0f0f0;
	grid-area: player-points;
	display: flex;
	justify-content: center;
	align-items: center;
}

.acumulatedPoints {
	font-size: 2rem;
	font-style: italic;
	color: #34252f;
}

.counter {
	background-color: #f0f0f0;
	grid-area: counter;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lives {
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'heart-1 heart-2 heart-3';
	grid-area: lives;
}

.bi-suit-heart-fill {
	font-size: 1.5rem;
	color: red;
}

.heart-1 {
	grid-area: heart-1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heart-2 {
	grid-area: heart-2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heart-3 {
	grid-area: heart-3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-play {
	grid-area: card-play;
	background-color: rgb(151, 182, 207);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

#light .card-play {
	background-color: var(--white);
}

#currentCard {
	font-family: 'Fira Code', monospace;
	font-size: 1.5rem;
}

.messages {
	grid-area: messages;
	background-color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
}

.textMessage {
	font-size: 1.1rem;
	color: white;
}

.buttons {
	background-color: #f0f0f0;
	display: grid;
	margin: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'option-A option-B option-C';
	grid-area: buttons;
}

.option-A {
	grid-area: option-A;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option-B {
	grid-area: option-B;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option-C {
	grid-area: option-C;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-control {
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: '. button-control .';
	grid-area: start-control;
}

.button-control {
	grid-area: button-control;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
}

/* .firstButton,
.secondButton,
.thirdButton {
	cursor: pointer;
	width: 90%;
	height: 100%;
	border: 0;
	border-radius: 10px;
} */

.startButton {
	background-color: #92dce5;
	color: #004e64;
	font-size: 1.2rem;
	cursor: pointer;
	width: 30vw;
	height: 100%;
	border: 0;
	border-radius: 10px;
}

.hideMe {
	visibility: hidden;
}

.userView {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: antiquewhite;
}

.insideUser {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width: 50vw;
	height: 25vh;
	border-radius: 15px;
	box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.formControls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#nameUser {
	margin: 1rem;
	width: 30vh;
	padding: 1rem;
	border-radius: 10px;
	border: 0;
	background-color: rgb(213, 208, 208);
}

#nameUser:focus {
	outline: none;
	background-color: rgb(215, 212, 212);
}

#startButtonMain {
	margin: 1rem;
	width: 10vh;
	padding: 0.5rem;
	border-radius: 10px;
	font-size: 1rem;
	border: 0;
	background-color: #004e64;
	color: white;
}

#welcomeMessage {
	color: black;
}

.mode-container {
	position: absolute;
	top: 7vh;
	right: 3vw;
}

label {
	padding: 1rem;
}

.glow-on-hover {
	width: 250px;
	height: 80px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.btn {
	width: 150px;
	height: 40px;
	cursor: pointer;
	background: transparent;
	border: 1px solid var(--black);
	outline: none;
	transition: 1s ease-in-out;
}

#svg-button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 105px;
	margin: auto;
	fill: none;
	stroke: #004e64;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}

.btn:hover {
	transition: 1s ease-in-out;
	background: var(--background-header);
}

.btn:hover #svg-button {
	stroke-dashoffset: -480;
}

.btn span {
	color: var(--granate);
	font-size: 18px;
	font-weight: 100;
}

pre {
	display: flex !important;
	justify-content: center;
	align-items: center;
	min-width: 50vw;
	min-height: 35vh;
	border: 0;
	border-radius: 10px;
	box-shadow: var(--shadow-elevation-high);
}
