:root {
	--background-header: #efd81a;
}

/* Light Mode */

#light {
	background-color: #fff;
	color: #000;
}

/* Dark Mode */

#dark {
	background-color: #000;
	color: #fff;
}

.bi-brightness-high-fill {
	font-size: 2rem;
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
}

.container {
	height: 100vh;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 2fr 0.4fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'header'
		'game-area'
		'footer';
}

.header {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'language-mode game-title dark-mode';
	grid-area: header;
}

#light .header {
	background-color: var(--background-header);
}

.game-title {
	grid-area: game-title;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-game-background);
}

.dark-mode {
	grid-area: dark-mode;
	display: flex;
	justify-content: center;
	align-items: center;
}

.language-mode {
	grid-area: language-mode;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'made-love';
	grid-area: footer;
	text-align: center;
	align-self: end;
}

.bi-code-slash,
.bi-code {
	font-size: 1.5rem;
	padding: 0.5rem;
	color: white;
}

h5 {
	font-size: 1rem;
	color: white;
}

.made-love {
	grid-area: made-love;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.game-area {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.3fr 0.3fr 2fr 0.2fr 0.2fr 0.2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'player-name player-name player-name'
		'player-points counter lives'
		'card-play card-play card-play'
		'messages messages messages'
		'buttons buttons buttons'
		'start-control start-control start-control';
	grid-area: game-area;
}

.player-name {
	grid-area: player-name;
	background-color: rgb(230, 243, 115);
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-points {
	grid-area: player-points;
	background-color: rgb(165, 234, 86);
	display: flex;
	justify-content: center;
	align-items: center;
}

.counter {
	grid-area: counter;
	background-color: rgb(182, 247, 209);
	display: flex;
	justify-content: center;
	align-items: center;
}

.lives {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'heart-1 heart-2 heart-3';
	grid-area: lives;
}

.bi-suit-heart-fill {
	font-size: 1.5rem;
	color: red;
}

.heart-1 {
	grid-area: heart-1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heart-2 {
	grid-area: heart-2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heart-3 {
	grid-area: heart-3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-play {
	grid-area: card-play;
	background-color: rgb(151, 182, 207);
	display: flex;
	justify-content: center;
	align-items: center;
}

#currentCard {
	font-family: 'Fira Code', monospace;
	font-size: 1.5rem;
}

.messages {
	grid-area: messages;
	background-color: rgb(220, 187, 230);
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'option-A option-B option-C';
	grid-area: buttons;
}

.option-A {
	grid-area: option-A;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option-B {
	grid-area: option-B;
	display: flex;
	justify-content: center;
	align-items: center;
}

.option-C {
	grid-area: option-C;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start-control {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: '. button-control .';
	grid-area: start-control;
}

.button-control {
	grid-area: button-control;
	display: flex;
	justify-content: center;
	align-items: center;
}

.firstButton,
.secondButton,
.thirdButton {
	cursor: pointer;
	width: 90%;
	height: 100%;
	border: 0;
	border-radius: 10px;
}

.startButton {
	cursor: pointer;
	width: 90%;
	height: 100%;
	border: 0;
	border-radius: 10px;
}

.hideMe {
	visibility: hidden;
}

.userView {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.nameUser {
	margin: 1rem;
}
